<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.soagroup.mapper.GroupMapper" >

    <select id="getGroupById" resultType="com.example.soagroup.model.Group">
        select
            group_id AS groupId,
            group_name AS groupName
        from soa_group
        where group_id = #{groupId}
    </select>

</mapper>